<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="COOKIE ENCOUNTER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">
        <activity android:name=".AdminOrders"></activity>
        <activity android:name=".DeliveryInfo" />
        <activity android:name=".PreviousOrder" />
        <activity android:name=".FinalCart" />
        <activity android:name=".UpdateItem" />
        <activity android:name=".FoodList1" />
        <activity android:name=".NewItem" />
        <activity android:name=".Admin" />
        <activity android:name=".AdminSignIn" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FoodList" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>